
<div class="top-txt">
	<h1>My Movies</h1>
</div>

<div class="regi">
   <p>
	<%= link_to 'Log in', new_user_session_path, class: "btn btn-warning login-btn" %><br>
	<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-warning signup-btn" %><br>
   </p>
</div>